.navbar {
  padding-top: 19.20px !important;
  padding-bottom: 19.20px !important;
}

.footer-social {
  padding-top: 47.78px;
  padding-bottom: 47.78px;
}

.footer-bottom {
  padding-bottom: 47.78px;
}

.footer-scroll {
  padding-bottom: 19.20px;
}

.projects-title {
  h1 {
    padding-top: 5.36px;
  }
  h4 {
    padding-top: 5.36px;
    padding-bottom: 13.33px;
  }
}

.projects-hero {
  padding-top: 47.78px;
  padding-bottom: 47.78px;
}

.projects-details {
  padding-top: 27.65px;
  padding-bottom: 27.65px;
}

.projects-sub-titles {
  padding-bottom: 27.65px;
}

.projects-media {
  padding-top: 47.78px;
  padding-bottom: 47.78px;
}

.projects-captions {
  padding-top: 19.20px;
}

.projects-padding-content {
  padding-top: 47.78px;
}

.projects-hr {
  padding-top: 47.78px;
  padding-bottom: 47.78px;
}

.projects-back {
  padding-bottom: 47.78px;
  padding-top: 19.20px;
}

.index-projects {
  padding-top: 47.78px;
}

.index-projects-padding {
  padding-top: 27.65px;
}

.index-projects-thumb:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
