@media (max-width: 575.98px) {
  h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 27.65px !important;
    line-height: 39.81px !important;
    margin: 0 !important;
    font-weight: 700 !important;
  }
  .projects-hero {
    padding-top: 39.81px !important;
    padding-bottom: 39.81px !important;
  }
  .projects-media {
    padding-top: 39.81px !important;
    padding-bottom: 39.81px !important;
  }
  .projects-padding-content {
    padding-top: 39.81px !important;
  }
  .projects-hr {
    padding-top: 39.81px !important;
    padding-bottom: 39.81px !important;
  }
  .projects-back {
    padding-bottom: 27.65px !important;
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px !important;
    line-height: 27.65px !important;
    margin: 0 !important;
  }

  h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13.33px !important;
    line-height: 23.04px !important;
    margin: 0 !important;
  }

  .index-projects-padding-mobile {
    padding-bottom:27.65px;
  }

  /* Footer */
  .footer-padding-mobile {
    padding-top: 13.33px;
  }

  .footer-social {
    padding-top: 39.81px !important;
    padding-bottom: 39.81px !important;
  }

  .footer-bottom {
    padding-bottom: 39.81px !important;
  }
}
