.project-tags {
  li {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }

  .tag-title {
    font-weight: 700;
  }
}

#button-top {
  margin-top: 30px;
}

.projects-gal {
  height: 400px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.projects-gal-long {
  height: 1800px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

iframe {
  margin-bottom: 50px;
  margin-top: 50px;
}

@media (max-width: 575px) {
  .project-tags {
    display: none;
  }

  .button-css-black {
    margin-top: -15px;
    margin-bottom: -15px;
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .project-tags {
    display: none;
  }
}

@media (max-width: 991px) {
  .project-tags {
    display: none;
  }
}

@media (max-width: 1199px) {
}
