.home-content {
  margin-top: -65px;
  margin-bottom: 80px;

  .project-container {
    margin: 0;

    .small-text {
      font-size: 12px;
      margin: 0;
    }

    h1 {
      margin: 0;
    }

    p {
      font-size: 25px;
    }
  }

  .project-content {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .project-box {
      h1 {
        font-size: 25px;
        margin: 0;
        padding-top: 10px;
      }

      p {
        margin: 0;
      }
    }
}

@media (max-width: 575px) {
  .home-content {
    margin-top: -125px;
    .project-container {
      p {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
}

@media (max-width: 991px) {
}

@media (max-width: 1199px) {
}
