@import "typography.scss";
@import "mobile.scss";
@import "layout.scss";

body {
  background-color: #F3F4F8 !important;
}

img {
  height: 100%;
  width: 100%;
}

video {
  height: 100%;
  width: 100%;
}

hr {
  margin: 0 !important;
  border-top: 1px solid #ECECF0 !important;
}

.badge-projects {
  background-color: #ECECF0;
  color: black;
}

.navbar-nav .nav-link {
  padding-left: 39.81px !important;
}

.navbar-nav {
    flex-direction: row !important;
}

.navbar-brand {
  height: 57.33px;
  width: 57.33px;
}

.instagram-media {
  display: inline !important;
}

.index-projects-overlay:hover {
  background-color: blue;
}
