h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 33.18px !important;
  line-height: 47.78px !important;
  margin: 0 !important;
  font-weight: 700 !important; }

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 19.20px !important;
  line-height: 33.18px !important;
  margin: 0 !important; }

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px !important;
  line-height: 27.65px !important;
  margin: 0 !important; }

h4 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 11.11px !important;
  line-height: 16.00px !important;
  letter-spacing: 3.02px;
  margin: 0 !important; }

p {
  font-size: 13.33px;
  margin: 0 !important;
  line-height: 23.04px; }

li {
  font-size: 13.33px;
  margin: 0 !important;
  line-height: 23.04px; }

ul {
  padding-top: 13.33px;
  margin: 0 !important; }

nav a {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 11.11px !important; }

a {
  text-decoration: underline !important;
  color: black !important; }

a:hover {
  color: #70CEDF !important; }

.projects-back {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 11.11px !important; }

footer .footer-social {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13.33px !important; }

footer .footer-scroll {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 11.11px !important; }

.badge {
  font-size: 13.33px !important;
  font-family: 'IBM Plex Sans', sans-serif; }

.projects-details a {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13.33px !important; }

@media (max-width: 575.98px) {
  h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 27.65px !important;
    line-height: 39.81px !important;
    margin: 0 !important;
    font-weight: 700 !important; }
  .projects-hero {
    padding-top: 39.81px !important;
    padding-bottom: 39.81px !important; }
  .projects-media {
    padding-top: 39.81px !important;
    padding-bottom: 39.81px !important; }
  .projects-padding-content {
    padding-top: 39.81px !important; }
  .projects-hr {
    padding-top: 39.81px !important;
    padding-bottom: 39.81px !important; }
  .projects-back {
    padding-bottom: 27.65px !important;
    text-align: center !important; } }

@media (max-width: 767px) {
  h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px !important;
    line-height: 27.65px !important;
    margin: 0 !important; }
  h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13.33px !important;
    line-height: 23.04px !important;
    margin: 0 !important; }
  .index-projects-padding-mobile {
    padding-bottom: 27.65px; }
  /* Footer */
  .footer-padding-mobile {
    padding-top: 13.33px; }
  .footer-social {
    padding-top: 39.81px !important;
    padding-bottom: 39.81px !important; }
  .footer-bottom {
    padding-bottom: 39.81px !important; } }

.navbar {
  padding-top: 19.20px !important;
  padding-bottom: 19.20px !important; }

.footer-social {
  padding-top: 47.78px;
  padding-bottom: 47.78px; }

.footer-bottom {
  padding-bottom: 47.78px; }

.footer-scroll {
  padding-bottom: 19.20px; }

.projects-title h1 {
  padding-top: 5.36px; }

.projects-title h4 {
  padding-top: 5.36px;
  padding-bottom: 13.33px; }

.projects-hero {
  padding-top: 47.78px;
  padding-bottom: 47.78px; }

.projects-details {
  padding-top: 27.65px;
  padding-bottom: 27.65px; }

.projects-sub-titles {
  padding-bottom: 27.65px; }

.projects-media {
  padding-top: 47.78px;
  padding-bottom: 47.78px; }

.projects-captions {
  padding-top: 19.20px; }

.projects-padding-content {
  padding-top: 47.78px; }

.projects-hr {
  padding-top: 47.78px;
  padding-bottom: 47.78px; }

.projects-back {
  padding-bottom: 47.78px;
  padding-top: 19.20px; }

.index-projects {
  padding-top: 47.78px; }

.index-projects-padding {
  padding-top: 27.65px; }

.index-projects-thumb:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); }

body {
  background-color: #F3F4F8 !important; }

img {
  height: 100%;
  width: 100%; }

video {
  height: 100%;
  width: 100%; }

hr {
  margin: 0 !important;
  border-top: 1px solid #ECECF0 !important; }

.badge-projects {
  background-color: #ECECF0;
  color: black; }

.navbar-nav .nav-link {
  padding-left: 39.81px !important; }

.navbar-nav {
  flex-direction: row !important; }

.navbar-brand {
  height: 57.33px;
  width: 57.33px; }

.instagram-media {
  display: inline !important; }

.index-projects-overlay:hover {
  background-color: blue; }
