@import "color.scss";
@import "projects.scss";
@import "projectspage.scss";

/* About Overlay */

.about-overlay {
  display: none;
  background-color: black;
  color: white;
  font-family: 'Roboto' sans-serif;
    nav {
      padding-top: 25px;
      padding-bottom: 100px;
      margin-left: -15px;
    }
    h1 {
      font-weight: 700;
    }
    p{
      font-weight: 300;
    }
    ul {
      font-weight: 700;
    }
    a {
      color: white;
    }
    .border-about p{
      margin: 0;
    }
    hr {
      margin-top: 50px;
      border-top: 1px solid white;
      margin-bottom: 45px;
    }
    .emphasis {
      font-weight: 700;
    }
    .small-text{
      font-size: 10px;
    }
    .links-about p {
      margin: 0;
    }
}

/* Regular CSS - Layout */

.button-css {
	background-color:transparent;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid white;
	display:inline-block;
	color:white;
  margin-top: 50px;
  margin-bottom: 50px;
	padding:8px 31px;
  text-decoration: none;
  &:hover {
    background-color: white;
    color: black;
    text-decoration: none;
  }
}

.button-css-black {
	background-color:transparent;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid black;
	display:inline-block;
	color:black;
  margin-top: 15px;
  margin-right: 15px;
	padding:8px 31px;
  text-decoration: none;
  &:hover {
    background-color: black;
    color: white;
    text-decoration: none;
  }
}

/* Index Page */

body {
  background-color: $renno-grey;
}

nav {
  padding-top: 25px;
  padding-bottom: 100px;
    a {
      text-decoration: none;
      font-weight: 300;
    }
    .nav-link {
      padding-top: 44px;
    }
    img {
      height: 105px;
      width: 105px;
    }
}

a {
  text-decoration: underline;
  color: $renno-black;
  &:hover {
    color: $renno-blue;
  }
}

.home-content {
  font-family: 'Roboto' sans-serif;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
    h1{
      color: $renno-black;
      font-weight: 700;
    }
    p{
      color: $renno-black;
      font-weight: 300;
    }
}

footer {
  font-family: 'Roboto' sans-serif;
  font-weight: 300;
    .web-credit {
      font-size: 10px;
      margin: 0;
      padding-bottom: 25px;
    }
}

@media (max-width: 575px) {
  .home-content {
    padding-top: 60px;
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 15px;
      }
  }
  nav {
    a {
      font-size: 13px;
    }
    .nav-link {
      padding-top: 48px;
    }
  }
  footer {
    p {
      font-size: 12px;
    }
  }

  .about-overlay {
    h1 {
      font-size: 25px;
    }
  }
}

@media (max-width: 767px) {
  .home-content {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 15px;
    }
  }
  footer {
    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 991px) {
}

@media (max-width: 1199px) {
}
