.home-content {
  margin-top: -65px;
  margin-bottom: 80px; }
  .home-content .project-container {
    margin: 0; }
    .home-content .project-container .small-text {
      font-size: 12px;
      margin: 0; }
    .home-content .project-container h1 {
      margin: 0; }
    .home-content .project-container p {
      font-size: 25px; }
  .home-content .project-content {
    padding-top: 30px;
    padding-bottom: 10px; }
  .home-content .project-box h1 {
    font-size: 25px;
    margin: 0;
    padding-top: 10px; }
  .home-content .project-box p {
    margin: 0; }

@media (max-width: 575px) {
  .home-content {
    margin-top: -125px; }
    .home-content .project-container p {
      font-size: 20px; } }

.project-tags li {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px; }

.project-tags .tag-title {
  font-weight: 700; }

#button-top {
  margin-top: 30px; }

.projects-gal {
  height: 400px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px; }

.projects-gal-long {
  height: 1800px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px; }

iframe {
  margin-bottom: 50px;
  margin-top: 50px; }

@media (max-width: 575px) {
  .project-tags {
    display: none; }
  .button-css-black {
    margin-top: -15px;
    margin-bottom: -15px;
    font-size: 15px; } }

@media (max-width: 767px) {
  .project-tags {
    display: none; } }

@media (max-width: 991px) {
  .project-tags {
    display: none; } }

/* About Overlay */
.about-overlay {
  display: none;
  background-color: black;
  color: white;
  font-family: 'Roboto' sans-serif; }
  .about-overlay nav {
    padding-top: 25px;
    padding-bottom: 100px;
    margin-left: -15px; }
  .about-overlay h1 {
    font-weight: 700; }
  .about-overlay p {
    font-weight: 300; }
  .about-overlay ul {
    font-weight: 700; }
  .about-overlay a {
    color: white; }
  .about-overlay .border-about p {
    margin: 0; }
  .about-overlay hr {
    margin-top: 50px;
    border-top: 1px solid white;
    margin-bottom: 45px; }
  .about-overlay .emphasis {
    font-weight: 700; }
  .about-overlay .small-text {
    font-size: 10px; }
  .about-overlay .links-about p {
    margin: 0; }

/* Regular CSS - Layout */
.button-css {
  background-color: transparent;
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px;
  border-radius: 42px;
  border: 1px solid white;
  display: inline-block;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 8px 31px;
  text-decoration: none; }
  .button-css:hover {
    background-color: white;
    color: black;
    text-decoration: none; }

.button-css-black {
  background-color: transparent;
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px;
  border-radius: 42px;
  border: 1px solid black;
  display: inline-block;
  color: black;
  margin-top: 15px;
  margin-right: 15px;
  padding: 8px 31px;
  text-decoration: none; }
  .button-css-black:hover {
    background-color: black;
    color: white;
    text-decoration: none; }

/* Index Page */
body {
  background-color: #F4F4F4; }

nav {
  padding-top: 25px;
  padding-bottom: 100px; }
  nav a {
    text-decoration: none;
    font-weight: 300; }
  nav .nav-link {
    padding-top: 44px; }
  nav img {
    height: 105px;
    width: 105px; }

a {
  text-decoration: underline;
  color: #000000; }
  a:hover {
    color: #6CCCDD; }

.home-content {
  font-family: 'Roboto' sans-serif;
  min-height: 55vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .home-content h1 {
    color: #000000;
    font-weight: 700; }
  .home-content p {
    color: #000000;
    font-weight: 300; }

footer {
  font-family: 'Roboto' sans-serif;
  font-weight: 300; }
  footer .web-credit {
    font-size: 10px;
    margin: 0;
    padding-bottom: 25px; }

@media (max-width: 575px) {
  .home-content {
    padding-top: 60px; }
    .home-content h1 {
      font-size: 25px; }
    .home-content p {
      font-size: 15px; }
  nav a {
    font-size: 13px; }
  nav .nav-link {
    padding-top: 48px; }
  footer p {
    font-size: 12px; }
  .about-overlay h1 {
    font-size: 25px; } }

@media (max-width: 767px) {
  .home-content h1 {
    font-size: 30px; }
  .home-content p {
    font-size: 15px; }
  footer p {
    font-size: 15px; } }
