@media (max-width: 575px) {

  /* Brick & Mortar */

  #event-2 {
    padding-top: 31px;
  }

  /* Navigation */
  .nav-link {
    margin-left: 0px;
  }

  .nav-button {
    border: none !important;
    padding-left: 0px !important;
  }

  .nav-button:hover {
    border: none !important;
    padding-left: 0px !important;
    background-color: transparent !important;
  }

  .about-index-content {
    font-size: 15px;
    color: $text-dark-gray;
    font-weight: 300;
  }

  #black .nav-link {
    margin-left: 0px !important;
  }

  #black .nav-button {
    border: none !important;
    padding-left: 0px !important;
  }

  /* Footer */

  .footer-nav a {
    font-size: 10px;
    color: $text-dark-gray;
    font-weight: 400;
    padding-right: 25px;
    padding-top: 20px;
    transition: all 0.5s ease 0s;
  }

  .footer-hook {
    font-size: 10px;
    font-family: 'Nunito';
    font-weight: 300;
    line-height: 50%;
    padding-bottom: 50px;
  }

  /* Hero */

  .hero-h1 {
    font-size: 45px;
    font-weight: 400;
    color: $text-white;
    line-height: 40px;
  }

  .hero-h2 {
    font-size: 18px;
    font-weight: 400;
    color: $text-white;
    line-height: 15px;
    padding-top: 15px;
    padding-bottom: 40px;
  }

  .hero-mini {
    font-size: 10px;
    color: $text-white;
    font-weight: 300;
    padding-top: 25px;
  }

  /* How it Works */

  .hiw-top .hiw-small {
    font-size: 8;
    padding-top: 20px;
  }

  .hiw-small {
    font-size: 13px;
    font-weight: 300;
  }

  .hiw-h1 {
    font-size: 15px;
    font-weight: 300;
    line-height: 10px;
  }

  .hiw-h2 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  .hiw-mobile {
    padding-bottom: 10px;
  }

  /* Index - Testimonials */

  .testi-small {
    font-size: 12.5px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .testi-h1 {
    font-size: 17.5px;
    font-weight: 300;
  }

  /* Index - CTA */

  .cta-h1 {
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: 300;
    line-height: 15px;
    color: $text-white;
  }

  /* Form Padding */

  .padding-form {
    padding-bottom: 15.5px !important;
  }

}

@media (min-width: 576px) and (max-width: 768px) {

  /* Brick & Mortar */

  #event-2 {
    padding-top: 31px;
  }

  /* Navigation */
  .nav-link {
    margin-left: 0px;
  }

  .nav-button {
    border: none !important;
    padding-left: 0px !important;
  }

  #black .nav-link {
    margin-left: 0px !important;
  }

  #black .nav-button {
    border: none !important;
    padding-left: 0px !important;
  }

  /* Footer */

  .footer-nav a {
    font-size: 17.5px;
    color: $text-dark-gray;
    font-family: 'Nunito';
    font-weight: 400;
    padding-right: 50px;
    padding-top: 20px;
    transition: all 0.5s ease 0s;
  }

  /* Hero */

  .hero-h1 {
    font-size: 45px;
    font-weight: 400;
    color: $text-white;
    line-height: 40px;
  }

  .hero-h2 {
    font-size: 18px;
    font-weight: 400;
    color: $text-white;
    line-height: 15px;
    padding-top: 15px;
    padding-bottom: 40px;
  }

  .hero-mini {
    font-size: 10px;
    color: $text-white;
    font-weight: 300;
    padding-top: 25px;
  }

  /* How it Works */

  .hiw-small {
    font-size: 15px;
    font-weight: 300;
  }

  .hiw-h1 {
    font-size: 20px;
    font-weight: 300;
    line-height: 15px;
  }

  .hiw-h2 {
    font-size: 18px;
    font-weight: 400;
  }

  /* Index - Testimonials */

  .testi-small {
    font-size: 15px;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .testi-h1 {
    font-size: 20px;
    font-weight: 300;
  }



}

@media (min-width: 767px) and (max-width: 992px) {

  /* Navigation */
  .nav-link {
    margin-left: 0px;
  }

  .nav-button {
    border: none !important;
    padding-left: 0px !important;
  }

  #black .nav-link {
    margin-left: 0px !important;
  }

  #black .nav-button {
    border: none !important;
    padding-left: 0px !important;
  }

  /* Index - Testimonials */

  .testi-small {
    font-size: 15px;
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .testi-h1 {
    font-size: 20px;
    font-weight: 300;
  }


}
