/* Site Wide */
body {
  font-family: 'Nunito' !important; }

/* Footer */
.footer-logo {
  font-size: 30px;
  font-family: 'Nunito';
  font-weight: 400;
  color: #363636;
  transition: all 0.5s ease 0s; }

.footer-logo:hover {
  text-decoration: none;
  color: #6ACBDD; }

.footer-hook {
  font-size: 15px;
  font-family: 'Nunito';
  font-weight: 300;
  line-height: 50%;
  padding-bottom: 50px; }

.footer-small-text {
  font-size: 10px;
  font-family: 'Nunito';
  font-weight: 300;
  line-height: 10%;
  color: #7F7F7F; }

.footer-small-text a {
  color: #363636;
  transition: all 0.5s ease 0s; }

.footer-small-text a:hover {
  color: #6ACBDD; }

.footer-nav a {
  font-size: 17.5px;
  color: #363636;
  font-family: 'Nunito';
  font-weight: 400;
  padding-right: 50px;
  padding-top: 20px;
  transition: all 0.5s ease 0s; }

.footer-nav a:hover {
  color: #6ACBDD;
  text-decoration: none; }

/* Navigation */
.navbar-brand {
  color: #FFFFFF !important;
  font-size: 30px !important;
  font-weight: 400 !important;
  transition: all 0.5s ease 0s; }

.navbar-brand:hover {
  color: #6ACBDD !important; }

.nav-link {
  color: #FFFFFF !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  transition: all 0.5s ease 0s;
  margin-left: 50px; }

.nav-link:hover {
  color: #6ACBDD !important; }

#black .navbar-brand {
  color: #363636 !important;
  font-size: 30px !important;
  font-weight: 400 !important;
  transition: all 0.5s ease 0s; }

#black .navbar-brand:hover {
  color: #6ACBDD !important; }

#black .nav-link {
  color: #363636 !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  transition: all 0.5s ease 0s;
  margin-left: 50px; }

#black .nav-link:hover {
  color: #6ACBDD !important; }

/* Hero */
.hero-h1 {
  font-size: 55px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 50px; }

.hero-h2 {
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 25px;
  padding-top: 20px;
  padding-bottom: 40px; }

.hero-mini {
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 300;
  padding-top: 25px; }

/* Index - About */
.about-index-content {
  font-size: 15px;
  color: #363636;
  font-weight: 300; }

.about-index-content a {
  color: #7F7F7F;
  text-decoration: underline;
  transition: all 0.5s ease 0s; }

.about-index-content a:hover {
  color: #6ACBDD; }

/* Index - HIW */
.hiw-index {
  color: #FFFFFF; }

.hiw-small {
  font-size: 15px;
  font-weight: 300; }

.hiw-h1 {
  font-size: 25px;
  font-weight: 300;
  line-height: 20px; }

.hiw-h2 {
  font-size: 20px;
  font-weight: 400; }

/* Index - Testimonials */
.testi-small {
  font-size: 15px;
  font-weight: 300;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0px; }

.testi-h1 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 0px; }

/* Index - CTA */
.cta-h1 {
  font-size: 30px;
  font-family: 'Nunito';
  font-weight: 300;
  line-height: 80%;
  color: #FFFFFF; }

/* About Page */
.about-h1 {
  font-size: 25px;
  font-weight: 300;
  padding-bottom: 31px;
  margin: 0; }

.about-gray-h1 {
  font-size: 17.5px;
  font-weight: 300;
  color: #7F7F7F;
  padding-bottom: 62px;
  margin: 0; }

.about-gray-h1 a {
  color: #7F7F7F;
  text-decoration: underline;
  transition: all 0.5s ease 0s; }

.about-gray-h1 a:hover {
  color: #6ACBDD;
  text-decoration: underline;
  transition: all 0.5s ease 0s; }

.about-dark-gray-h1 {
  font-size: 17.5px;
  font-weight: 300;
  color: #363636;
  padding-bottom: 62px;
  margin: 0; }

.photo-name {
  font-weight: 400; }

.photo-position {
  font-weight: 300;
  font-size: 12px; }

/* Contact Page */
.small-contact {
  font-size: 15px;
  color: #7F7F7F;
  font-weight: 300;
  padding-top: 62px; }

.small-contact a {
  color: #7F7F7F;
  text-decoration: underline;
  transition: all 0.5s ease 0s; }

.small-contact a:hover {
  color: #6ACBDD; }

/* Login */
.login-title {
  font-weight: 400;
  font-size: 25px;
  padding-bottom: 31px; }

.login-title-2 {
  font-weight: 400;
  font-size: 25px;
  margin: 0; }

.login-button {
  font-weight: 300;
  color: #7F7F7F;
  text-decoration: underline;
  transition: all 0.5s ease 0s;
  margin-top: 31px; }

.login-button:hover {
  color: #6ACBDD; }

.small-login {
  font-weight: 300;
  color: #7F7F7F;
  font-size: 10px;
  padding-top: 31px; }

.small-login a {
  font-weight: 300;
  color: #7F7F7F;
  font-size: 10px;
  transition: all 0.5s ease 0s;
  text-decoration: underline; }

.small-login a:hover {
  color: #6ACBDD; }

.small-register {
  font-weight: 300;
  color: #7F7F7F;
  font-size: 10px;
  padding-bottom: 31px; }

.small-register a {
  font-weight: 300;
  color: #7F7F7F;
  font-size: 10px;
  transition: all 0.5s ease 0s;
  text-decoration: underline; }

.small-register a:hover {
  color: #6ACBDD; }

span {
  color: #6ACBDD;
  display: flex;
  justify-content: center;
  align-items: center; }

span a {
  text-decoration: underline; }

/* Brick & Mortar */
.event-title {
  font-weight: 400; }

.event-whereabouts {
  font-weight: 300; }

.event-whereabouts a {
  color: #363636;
  transition: all 0.5s ease 0s;
  text-decoration: underline; }

.event-whereabouts a:hover {
  color: #6ACBDD; }

.event-organize {
  font-weight: 300;
  font-size: 12.5px;
  padding-top: 11px;
  padding-bottom: 5px;
  color: #7F7F7F; }

.event-organize a {
  color: #7F7F7F;
  transition: all 0.5s ease 0s;
  text-decoration: underline; }

.event-organize a:hover {
  color: #6ACBDD; }

.error-content {
  weight: 300;
  padding-top: 63px;
  padding-bottom: 63px;
  color: #7F7F7F;
  font-size: 15px; }

.bold {
  font-weight: 400;
  color: #363636;
  padding-bottom: 0 !important; }

.error-content a {
  color: #363636;
  transition: all 0.5s ease 0s;
  text-decoration: underline; }

.error-content a:hover {
  color: #6ACBDD; }

.privacy-light {
  font-weight: 300; }

.privacy-bold {
  font-weight: 400; }

.privacy-light a {
  color: #363636;
  text-decoration: underline;
  transition: all 0.5s ease 0s; }

.privacy-light a:hover {
  color: #6ACBDD; }

/* Navigation */
.nav-button {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Nunito';
  font-weight: 300;
  padding: 6px 40px 6px 40px !important;
  border: solid #ffffff 1px;
  text-decoration: none;
  transition: all 0.5s ease 0s; }

.nav-button:hover {
  color: #6ACBDD;
  background-color: #FFFFFF; }

#black .nav-button {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Nunito';
  font-weight: 300;
  padding: 6px 40px 6px 40px !important;
  border: solid #363636 1px;
  text-decoration: none;
  transition: all 0.5s ease 0s; }

#black .nav-button:hover {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Nunito';
  font-weight: 300;
  padding: 6px 40px 6px 40px !important;
  background-color: #363636;
  border: solid #363636 1px;
  text-decoration: none;
  transition: all 0.5s ease 0s; }

.navbar-toggler {
  margin-top: 4px;
  margin-right: -8px; }

#black .navbar-toggler {
  margin-top: 4px;
  margin-right: -8px; }

.navbar-light .navbar-toggler {
  border-color: #FFFFFF !important;
  transition: all 0.5s ease 0s; }

.navbar-light .navbar-toggler:hover {
  background-color: #FFFFFF !important; }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  transition: all 0.5s ease 0s; }

.navbar-light .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(106,203,221, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; }

#black .navbar-light .navbar-toggler {
  border-color: #363636 !important;
  transition: all 0.5s ease 0s; }

#black .navbar-light .navbar-toggler:hover {
  background-color: #363636 !important; }

#black .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(68,68,68, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  transition: all 0.5s ease 0s; }

#black .navbar-light .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(106,203,221, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; }

/* Site Wide */
.button-hero-index {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Nunito';
  font-weight: 300;
  padding: 12px 40px 12px 40px;
  border: solid #ffffff 1px;
  text-decoration: none;
  transition: all 0.3s ease 0s; }

.button-hero-index:hover {
  background-color: #ffffff;
  color: #6ACBDD;
  text-decoration: none; }

input {
  width: 100%;
  font-family: 'Nunito';
  height: 65px;
  padding-left: 20px !important;
  font-weight: 300; }

textarea {
  width: 100%;
  font-family: 'Nunito';
  padding-left: 20px !important;
  padding-top: 20px !important;
  font-weight: 300;
  border: solid #BFBFBF 1px; }

::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 17px;
  font-family: 'Nunito' !important; }

:-ms-input-placeholder {
  font-weight: 300;
  font-size: 17px;
  font-family: 'Nunito' !important; }

/* Form Buttons */
input[type=submit] {
  background: none;
  border: 0 none;
  cursor: pointer;
  font-weight: 300;
  color: #363636;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
  text-decoration: underline; }

input[type=submit]:hover {
  background: none;
  border: 0 none;
  color: #6ACBDD;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

@media (max-width: 575px) {
  /* Brick & Mortar */
  #event-2 {
    padding-top: 31px; }
  /* Navigation */
  .nav-link {
    margin-left: 0px; }
  .nav-button {
    border: none !important;
    padding-left: 0px !important; }
  .nav-button:hover {
    border: none !important;
    padding-left: 0px !important;
    background-color: transparent !important; }
  .about-index-content {
    font-size: 15px;
    color: #363636;
    font-weight: 300; }
  #black .nav-link {
    margin-left: 0px !important; }
  #black .nav-button {
    border: none !important;
    padding-left: 0px !important; }
  /* Footer */
  .footer-nav a {
    font-size: 10px;
    color: #363636;
    font-weight: 400;
    padding-right: 25px;
    padding-top: 20px;
    transition: all 0.5s ease 0s; }
  .footer-hook {
    font-size: 10px;
    font-family: 'Nunito';
    font-weight: 300;
    line-height: 50%;
    padding-bottom: 50px; }
  /* Hero */
  .hero-h1 {
    font-size: 45px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 40px; }
  .hero-h2 {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 15px;
    padding-top: 15px;
    padding-bottom: 40px; }
  .hero-mini {
    font-size: 10px;
    color: #FFFFFF;
    font-weight: 300;
    padding-top: 25px; }
  /* How it Works */
  .hiw-top .hiw-small {
    font-size: 8;
    padding-top: 20px; }
  .hiw-small {
    font-size: 13px;
    font-weight: 300; }
  .hiw-h1 {
    font-size: 15px;
    font-weight: 300;
    line-height: 10px; }
  .hiw-h2 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 5px; }
  .hiw-mobile {
    padding-bottom: 10px; }
  /* Index - Testimonials */
  .testi-small {
    font-size: 12.5px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px; }
  .testi-h1 {
    font-size: 17.5px;
    font-weight: 300; }
  /* Index - CTA */
  .cta-h1 {
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: 300;
    line-height: 15px;
    color: #FFFFFF; }
  /* Form Padding */
  .padding-form {
    padding-bottom: 15.5px !important; } }

@media (min-width: 576px) and (max-width: 768px) {
  /* Brick & Mortar */
  #event-2 {
    padding-top: 31px; }
  /* Navigation */
  .nav-link {
    margin-left: 0px; }
  .nav-button {
    border: none !important;
    padding-left: 0px !important; }
  #black .nav-link {
    margin-left: 0px !important; }
  #black .nav-button {
    border: none !important;
    padding-left: 0px !important; }
  /* Footer */
  .footer-nav a {
    font-size: 17.5px;
    color: #363636;
    font-family: 'Nunito';
    font-weight: 400;
    padding-right: 50px;
    padding-top: 20px;
    transition: all 0.5s ease 0s; }
  /* Hero */
  .hero-h1 {
    font-size: 45px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 40px; }
  .hero-h2 {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 15px;
    padding-top: 15px;
    padding-bottom: 40px; }
  .hero-mini {
    font-size: 10px;
    color: #FFFFFF;
    font-weight: 300;
    padding-top: 25px; }
  /* How it Works */
  .hiw-small {
    font-size: 15px;
    font-weight: 300; }
  .hiw-h1 {
    font-size: 20px;
    font-weight: 300;
    line-height: 15px; }
  .hiw-h2 {
    font-size: 18px;
    font-weight: 400; }
  /* Index - Testimonials */
  .testi-small {
    font-size: 15px;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 25px; }
  .testi-h1 {
    font-size: 20px;
    font-weight: 300; } }

@media (min-width: 767px) and (max-width: 992px) {
  /* Navigation */
  .nav-link {
    margin-left: 0px; }
  .nav-button {
    border: none !important;
    padding-left: 0px !important; }
  #black .nav-link {
    margin-left: 0px !important; }
  #black .nav-button {
    border: none !important;
    padding-left: 0px !important; }
  /* Index - Testimonials */
  .testi-small {
    font-size: 15px;
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 40px; }
  .testi-h1 {
    font-size: 20px;
    font-weight: 300; } }

/* Site Wide Modifications */
.padding-form {
  padding-bottom: 31px; }

/* Navigation */
.navigation {
  padding-top: 40px; }

/* Footer */
footer {
  height: 450px; }

.footer-nav {
  padding-bottom: 100px; }

.footer-content {
  padding-top: 50px; }

/* Sign In */
.login {
  height: 640.5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.register {
  height: 850px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.privacy {
  margin-top: 31px; }

/* Register */
/* Forms */
/* Brick & Mortar */
.event-1 {
  height: 275px;
  background-image: url("../img/events-photo/photo-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 275px;
  border: 1px #7F7F7F solid; }

.event-2 {
  height: 275px;
  background-image: url("../img/events-photo/photo-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 275px;
  border: 1px #7F7F7F solid; }

.event-text {
  border: 1px #7F7F7F solid;
  border-top: none;
  line-height: 50%;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 31px; }

/* Hero Modifications */
.hero-index {
  height: 750px;
  background-image: url("../img/hero-index.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.hero-content {
  height: 640.5px;
  display: flex;
  justify-content: center;
  align-items: center; }

.hero-about {
  height: 750px;
  background-image: url("../img/hero-about.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.hero-bam {
  height: 750px;
  background-image: url("../img/hero-bam.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.hero-contact {
  height: 750px;
  background-image: url("../img/hero-contact.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

/* Index - About */
.about-index {
  height: 425px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Index - How it Works */
.hiw-index {
  height: 550px;
  background-image: url("../img/hiw-index.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }

.hiw-top {
  padding-bottom: 30px; }

/* Index - Testimonials */
.testi-index {
  height: 425px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Index - CTA */
.cta-index {
  height: 425px;
  background-image: url("../img/cta-index.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }

.cta-button {
  padding-bottom: 40px; }

/* About Page */
.about-content-here {
  padding-top: 100px;
  padding-bottom: 31px; }

.photo-box {
  height: 100px;
  border: 1px #7F7F7F solid;
  border-top: none;
  margin-bottom: 63px;
  display: flex;
  justify-content: center;
  align-items: center; }

.photo-box p {
  margin: 0; }

.photo-1 {
  height: 275px;
  border: 1px #7F7F7F solid;
  background-image: url("../img/about-photo/photo-1.png");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.photo-2 {
  height: 275px;
  border: 1px #7F7F7F solid;
  background-image: url("../img/about-photo/photo-2.png");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.photo-3 {
  height: 275px;
  border: 1px #7F7F7F solid;
  background-image: url("../img/about-photo/photo-3.png");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.photo-4 {
  height: 275px;
  border: 1px #7F7F7F solid;
  background-image: url("../img/about-photo/photo-4.png");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

/* Contact Page */
.small-contact p {
  margin: 0; }
