video {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 650px;
  object-fit: cover;
  z-index: -1;
}

span {
  color: yellow
}

footer {
  height: 200px;
  background-color: black;
}

p {
  font-family:'Raleway', sans-serif;
  font-weight: 300px;
}

hr {
  border-bottom: 1px solid black;
}

#nav-logo {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

#nav-logo:hover {
  color: yellow;
}

/* Carousel Modifications */

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
}

/* Footer Modifications */

.footer-content {
  padding-top: 25px;
}

.footer-logo {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.footer-logo:hover {
  color: yellow;
  text-decoration: none;
}

.emphasis-footer {
  color: yellow;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 14px;
}

footer ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

li a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.footer-link a:hover {
  color: yellow;
  text-decoration: none;
}

.footer-left p {
  color: white;
  font-size: 8px;
}

footer i {
  color: red;
}

.renno-link {
  margin-top: -15px;
}

.renno-link a {
  color: yellow;
  border-bottom: 1px dashed red;
}

.renno-link a:hover {
  color: red;
  text-decoration:none;
}

ul .spotify {
  color: #1ED760;
}

ul .spotify:hover{
  color: #2EBD59;
}

/* Hero Container Modifications */

.hero-container {
  z-index: 2;
  color: white;
  padding-top: 20px;
  width: 95%;
  position: absolute;
}

.hero-container a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.hero-container a:hover {
  color: yellow;
  text-decoration: none;
}

.hero-container h1 {
  padding-top: 220px;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 900;
}

.hero-container h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-top: -10px;
}

/* Navigation Overlay */

.nav-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 0, 0, 0.8);
  z-index: 3;
  overflow-y: hidden;
  display: none;
}

#link-active {
  font-size: 60px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: blue;
}

.nav-overlay li a {
  font-size: 60px;
}

.nav-overlay ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

/* Index Page Modifications */

.index-box {
  height: 350px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-box h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 900;
}

.index-box h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.click-index {
  color: red;
}

.click-index:hover {
  border-bottom: 1px dashed #cc0000;
  display: inline;
  text-decoration: none;
  color: #cc0000;
}


/* Index Middle Navigation */

.index-middle h1{
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 900;
  padding-top: 125px;
}

.index-middle h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-top: -5px;
}

.overlay-blue {
  color: white;
  text-decoration: none;
  background: rgba(0, 0, 255, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.index-1:hover .overlay-blue {
  opacity: 1;
}

.index-1:hover {
  color: white;
  text-decoration: none;
}

.index-1 h1,h2{
  position: relative;
  z-index: 2;
}

.index-1 {
  height: 350px;
  background-size: cover;
  background-position: center;
  color: white;
  background-image: url("../img/index_img/about_img.png");
  text-decoration: none;
}

.index-2:hover .overlay-blue {
  opacity: 1;
}

.index-2 {
  height: 350px;
  background-size: cover;
  background-position: center;
  color: white;
  background-image: url("../img/index_img/charts_img.png");
  text-decoration: none;
}

.index-2:hover {
  color: white;
  text-decoration: none;
}

.index-2 h1,h2{
  position: relative;
  z-index: 2;
}

.index-3:hover .overlay-blue {
  opacity: 1;
}

.index-3 {
  height: 350px;
  background-size: cover;
  background-position: center;
  color: white;
  background-image: url("../img/index_img/concerts_img.png");
  text-decoration: none;
}

.index-3:hover {
  color: white;
  text-decoration: none;
}

.index-3 h1,h2{
  position: relative;
  z-index: 2;
}

.index-4:hover .overlay-blue {
  opacity: 1;
}

.index-4 {
  height: 350px;
  background-size: cover;
  background-position: center;
  color: white;
  background-image: url("../img/index_img/gallery_img.png");
  text-decoration: none;
}

.index-4:hover {
  color: white;
  text-decoration: none;
}

.index-4 h1,h2{
  position: relative;
  z-index: 2;
}

/* Gallery Page Modifications */

.gallery-hero {
  height: 600px;
  background-image: url("../img/hero_img/gallery_hero.png");
  background-size: cover;
  background-position: center;
}

.gallery-1 {
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/gallery_img/gallery-1.png");
  color: white;
  text-decoration: none;
}

.gallery-1:hover .overlay-blue {
  opacity: 1;
}

.gallery-1 h1,h2{
  position: relative;
  z-index: 2;
}

.gallery-1:hover {
  color: white;
  text-decoration: none;
}

.gallery-2 {
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/gallery_img/gallery-2.png");
  color: white;
  text-decoration: none;
}

.gallery-2:hover .overlay-blue {
  opacity: 1;
}

.gallery-2 h1,h2{
  position: relative;
  z-index: 2;
}

.gallery-2:hover {
  color: white;
  text-decoration: none;
}

.gallery-3 {
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/gallery_img/gallery-3.png");
  color: white;
  text-decoration: none;
}

.gallery-3:hover .overlay-blue {
  opacity: 1;
}

.gallery-3 h1,h2{
  position: relative;
  z-index: 2;
}

.gallery-3:hover {
  color: white;
  text-decoration: none;
}

.gallery-4 {
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/gallery_img/gallery-4.png");
  color: white;
  text-decoration: none;
}

.gallery-4:hover .overlay-blue {
  opacity: 1;
}

.gallery-4 h1,h2{
  position: relative;
  z-index: 2;
}

.gallery-4:hover {
  color: white;
  text-decoration: none;
}

.gallery-5 {
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/gallery_img/gallery-5.png");
  color: white;
  text-decoration: none;
}

.gallery-5:hover .overlay-blue {
  opacity: 1;
}

.gallery-5 h1,h2{
  position: relative;
  z-index: 2;
}

.gallery-5:hover {
  color: white;
  text-decoration: none;
}

.gallery-6 {
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/gallery_img/gallery-6.png");
  color: white;
  text-decoration: none;
}

.gallery-6:hover .overlay-blue {
  opacity: 1;
}

.gallery-6 h1,h2{
  position: relative;
  z-index: 2;
}

.gallery-6:hover {
  color: white;
  text-decoration: none;
}

.gallery-7 {
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/gallery_img/gallery-7.png");
  color: white;
  text-decoration: none;
}

.gallery-7:hover .overlay-blue {
  opacity: 1;
}

.gallery-7 h1,h2{
  position: relative;
  z-index: 2;
}

.gallery-7:hover {
  color: white;
  text-decoration: none;
}

.gallery-8 {
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/gallery_img/gallery-8.png");
  color: white;
  text-decoration: none;
}

.gallery-8:hover .overlay-blue {
  opacity: 1;
}

.gallery-8 h1,h2{
  position: relative;
  z-index: 2;
}

.gallery-8:hover {
  color: white;
  text-decoration: none;
}

.modal-content {
  background-color: rgba(255, 0, 0, 0.8);
}

.modal-content p {
  color: white;
  margin-top: 25px;
}

/* About Page */

.about-hero {
  height: 600px;
  background-image: url("../img/hero_img/about_hero.png");
  background-size: cover;
  background-position: center;
}

.about-content {
  padding-top: 100px;
}

.about-content ul {
  padding: 0;
  margin: -10px;
  list-style-type: none;
}

.about-content h1 {
  color: black;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}

.about-content h2 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.bold-p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: black;
}

.credits {
  padding-top: 40px;
}

.mobile-credits {
    display: none;
}

.writer {
  padding-top: 50px;
}

.writer p {
  margin-top: -12px;
}

.twitter {
	background-color:#1da1f2;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
  font-weight: 700;
	padding:15px 30px;
	text-decoration:none;
}

.twitter:hover {
	background-color:#1780bd;
  color: white;
  text-decoration: none;
}

.guardian {
	background-color:#00456E;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
  font-weight: 700;
	padding:15px 30px;
	text-decoration:none;
}

.guardian:hover {
	background-color:#032E47;
  color: white;
  text-decoration: none;
}

/* Concerts Page */

.concerts-hero {
  height: 600px;
  background-image: url("../img/hero_img/concerts_hero.png");
  background-size: cover;
  background-position: center;
}

.concert-content {
  color: white;
  position: relative;
  z-index: 2;
  padding-top: 10px;
}

.day-concert {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.concert-content h1 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  padding-top: 110px;
}

.concert-content h2 {
  font-family: 300;
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
}

.usa-concert-1 {
  background-size: cover;
  background-position: center;
  background-image: url("../img/concerts_img/usa-concert-1.png");
  height: 584px;
}

.usa-concert-1:hover .overlay-blue {
  opacity: 1;
}

.usa-concert-2 {
  background-size: cover;
  background-position: center;
  background-image: url("../img/concerts_img/usa-concert-2.png");
  height: 584px;
}

.usa-concert-2:hover .overlay-blue {
  opacity: 1;
}

.usa-concert-3 {
  background-size: cover;
  background-position: center;
  background-image: url("../img/concerts_img/usa-concert-3.png");
  height: 584px;
}

.usa-concert-3:hover .overlay-blue {
  opacity: 1;
}

.europe-concert-1 {
  background-size: cover;
  background-position: center;
  background-image: url("../img/concerts_img/europe-concert-1.png");
  height: 584px;
}

.europe-concert-1:hover .overlay-blue {
  opacity: 1;
}

.europe-concert-2 {
  background-size: cover;
  background-position: center;
  background-image: url("../img/concerts_img/europe-concert-2.png");
  height: 584px;
}

.europe-concert-2:hover .overlay-blue {
  opacity: 1;
}

.europe-concert-3 {
  background-size: cover;
  background-position: center;
  background-image: url("../img/concerts_img/europe-concert-3.png");
  height: 584px;
}

.europe-concert-3:hover .overlay-blue {
  opacity: 1;
}

.asia-concert-1 {
  background-size: cover;
  background-position: center;
  background-image: url("../img/concerts_img/asia-concert-1.png");
  height: 584px;
}

.asia-concert-1:hover .overlay-blue {
  opacity: 1;
}

.asia-concert-2 {
  background-size: cover;
  background-position: center;
  background-image: url("../img/concerts_img/asia-concert-2.png");
  height: 584px;
}

.asia-concert-2:hover .overlay-blue {
  opacity: 1;
}

.asia-concert-3 {
  background-size: cover;
  background-position: center;
  background-image: url("../img/concerts_img/asia-concert-3.png");
  height: 584px;
}

.asia-concert-3:hover .overlay-blue {
  opacity: 1;
}

.linebreak {
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 50px;
}

.linebreak a {
  border-bottom: 1px dashed red;
}

/* Charts Page */

.charts-hero {
  height: 600px;
  background-image: url("../img/hero_img/charts_hero.png");
  background-size: cover;
  background-position: center;
}

.instiz {
  color: #1FC679;
  border-bottom: 1px dashed #1FC679;
}

.instiz:hover {
  color: #116840;
  border-bottom: 1px dashed #116840;
  text-decoration: none;
}

.charts-1 {
  height: 150px;
  background-image: url("../img/charts_img/jungkey_charts.png");
  background-size: cover;
  background-position: center;
}

.charts-2 {
  height: 100px;
  background-image: url("../img/charts_img/twice_charts.png");
  background-size: cover;
  background-position: center;
}

.charts-3 {
  height: 100px;
  background-image: url("../img/charts_img/ailee_charts.png");
  background-size: cover;
  background-position: center;
}

.charts-4 {
  height: 100px;
  background-image: url("../img/charts_img/taeyeon_charts.png");
  background-size: cover;
  background-position: center;
}

.charts-5 {
  height: 100px;
  background-image: url("../img/charts_img/redvelvet_charts.png");
  background-size: cover;
  background-position: center;
}

.charts-6 {
  height: 100px;
  background-image: url("../img/charts_img/akmu_charts.png");
  background-size: cover;
  background-position: center;
}

.charts-7 {
  height: 100px;
  background-image: url("../img/charts_img/bbg4_charts.png");
  background-size: cover;
  background-position: center;
}

.charts-8 {
  height: 100px;
  background-image: url("../img/charts_img/ericsomi_charts.png");
  background-size: cover;
  background-position: center;
}

.charts-content-big {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 30px;
}

.charts-content-big h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.charts-content-big h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.charts-content {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 30px;
}

.charts-content h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.charts-content h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.song-player a{
  color: yellow;
}

.song-player a:hover {
  color: #cec700;
}

/* Media Queries */

@media (max-width: 575px) {
  .nav-overlay li a {
    font-size: 45px;
  }

  #link-active {
    font-size: 45px;
  }
    
    .hero-container h1 {
        font-size: 50px;
    }
    
    .hero-container h2 {
        font-size: 25px;
    }
    
    .index-box h1 {
        font-size: 50px;
    }
    
    .index-box h2 {
        font-size: 25px;
    }
    
    .index-middle h1 {
        font-size: 50px;
    }
    
    .index-middle h2 {
        font-size: 25px;
    }
    
    .about-content h1 {
        font-size: 50px;
    }
    
    .linebreak {
        font-size: 20px;
    }
    
    .credits li {
        margin-top: 15px;
    }
    
    .mobile-credits {
        display: inline;
    }
    
    .credits {
        padding-top: 15px;
    }
    
}

@media (max-width: 767px) {
  footer {
    height: 170px;
  }

  .navigate {
    display: none;
  }

  li a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 12px;
  }

  .social {
    margin-left: -25px;
    padding-top: 5px;
  }
}

@media (max-width: 991px) {
    .navigate {
      display: none;
  }

}

@media (max-width: 1199px) {
    .writer-section {
      display: none;
    }
}
