/* NLT Content Grey */

.nlt-content-grey {
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 60px;
}

.modal {
  video {
    width: 100%;
  }
}

.nlt-content-services-video {
  border: 1px #3c3c3c solid;
}

.nlt-content-padding-bottom {
  padding-bottom: 42px;
}

/* NLT Content Services */

.nlt-content-fleet-box {
  border: 1px solid #3c3c3c;
}

.nlt-modal-top {
  padding-top: 18px;
}

.nlt-modal-bottom {
  padding-top: 30px;
  padding-bottom: 18px;
}

/* NLT Content Our Fleet */

.nlt-content-fleet {
  padding-top: 42px;
}

.nlt-content-fleet-top-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nlt-content-fleet-padding {
  padding-top: 18px;
  padding-bottom: 18px;
}

.nlt-fleet-icons {
  height: 60px;
  width: 30px;
}

.nlt-fleet-icons-2 {
  height: 60px;
  width: 25px;
}

.nlt-fleet-icon-position {
  position: absolute;
  bottom: 0;
  right: 6;
}

.nlt-fleet-detail-padding {
  padding-bottom: 18px;
}

.nlt-fleet-detail {
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nlt-fleet-detail-hover:hover {

  cursor: pointer;

  .nlt-fleet-detail {
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

/* NLT Content Rates */

.nlt-content-rates {
  padding-top: 42px;
}

table {
    letter-spacing: 0;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #4F4F4F;
    padding: 18px
}

/* NLT Content Testimonial */

.nlt-content-testimonial {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* NLT Content Sponsorships */

.nlt-content-sponsorships {
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* NLT Content Reservation */

/* NLT Footer Content */

.nlt-footer-content-display-mobile {
  display: none;
}
