@media (max-width: 650px) {

/* Typography */

.text-26px {
  font-size: 20px !important;
  line-height: 1.25;
}

/* Navigation Settings */

  .time-dundalk {
    display: none;
  }
  .time-jakarta {
    display: none;
  }
  .nav-work {
    display: none;
  }
  .nav-about {
    display: none;
  }
  .nav-contact {
    display: none;
  }

  .navigation-bar {
    padding-top: 43px !important;
    padding-left: 43px !important;
    padding-right: 43px !important;
  }

/* Intro Index Section */

  .intro-index {
    padding-top: 63px !important;
    padding-left: 43px !important;
    padding-right: 43px !important;
  }

/* Focus Index Section */

  .focus-index {
    padding-top: 63px !important;
    padding-left: 43px !important;
    padding-right: 43px !important;
  }

/* Project Index Section */

/* About Index Section */

  .about-index {
    padding-top: 63px !important;
    padding-left: 43px !important;
    padding-right: 43px !important;
  }

/* Documentation Index Section */

  .documentation-index {
    padding-top: 63px !important;
    padding-left: 43px !important;
    padding-right: 43px !important;
  }

/* Contact Index Section */

  .contact-index {
    padding-top: 63px !important;
    padding-left: 43px !important;
    padding-right: 43px !important;
  }

/* Footer */
  .footer {
    padding-top: 43px !important;
    padding-left: 43px !important;
    padding-right: 43px !important;
    padding-bottom: 43px !important;
    text-align: center !important;
  }

  .footer-anchor {
    display: none;
  }

  .scroll-top-right {
    text-align: center !important;
  }
}

@media (min-width: 652px) and (max-width: 768px) {
  .work-content-mobile {
    padding-left: 86px !important;
    padding-right: 86px !important;
  }
}
