/* Very Small Mobile Devices */
@media (max-width: 575.98px) {
  /* NLT Content Hero + Navigation */
  .nlt-content-hero nav {
    padding-top: 0px !important;
  }
  .nlt-nav-translate{
    display: none !important;
  }
  .nlt-content-translate {
    text-align: center !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    p {
      padding-right: 6px !important;
    }
    a {
      padding-right: 6px !important;
    }
  }
  .nlt-content-hero-center-1 {
    font-size: 30px !important;
    line-height: 42px !important;
  }
  .nlt-content-hero-center-2 {
    font-size: 16px !important;
  }
  .navbar-expand-lg {
    background-color: #1f1f1f;
  }
  .nav-link {
    text-align: center !important;
  }
  .navbar-nav .nav-item {
    padding-right: 0px !important;
  }
  .nlt-button-nav {
    color: #ffffff !important;
    font-family: 'Nunito Sans';
    padding: 0 !important;
    border: none !important;
  }
  /* NLT Content Grey */
  .nlt-content-grey {
    padding-top: 30px !important;
    padding-bottom: 30px !important;

    .nlt-small-text {
      padding-bottom: 30px !important;
    }
    .nlt-big-text-1 {
      font-size: 16px;
    }
    .nlt-big-text-2 {
      font-size: 16px;
    }
    .nlt-content-padding-bottom {
      padding-bottom: 30px;
    }
    .nlt-content-services-video p {
      font-size: 16px;
    }
    .nlt-content-fleet {
      padding-top: 30px;
    }
    .nlt-small-text-fleet {
      padding-top: 18px;
    }
    .nlt-content-fleet-padding {
      padding-bottom: 12px;
    }
    table {
        letter-spacing: 0;
        color: white;
        font-size: 12px;
        font-weight: 300;
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid #4F4F4F;
        padding: 18px
    }
    .nlt-content-rates {
      padding-top: 30px;
        .nlt-small-text-rates {
          text-align: center;
        }
    }
  }
  /* NLT Content Testimonial */
  .nlt-content-testimonial {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .nlt-testi-text-big {
    font-size: 18px !important;
    padding-bottom: 18px !important;
  }
  .nlt-text-name {
    font-size: 16px;
  }
  .nlt-testi-text-location {
    font-size: 12px;
    padding-bottom: 18px !important;
  }
  .nlt-small-text-black {
    padding-bottom: 30px !important;
  }
  /* NLT Content Sponsorships */
  .nlt-content-sponsorships {

    padding-top: 30px !important;
    padding-bottom: 30px !important;

    .nlt-small-text {
      padding-top: 30px;
      padding-bottom: 30px !important;
    }
    .nlt-big-text-1 {
      padding-bottom: 30px !important;
      font-size: 16px;
    }
    a {
      position: static !important;
    }
  }
  /* NLT Reservation Contact */
  .nlt-content-reservation {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .nlt-form-required {
    text-align: center;
  }
  .nlt-form-mobile {
    text-align: center !important;
    padding-top: 24px;
  }
  /* NLT Footer Content */
  footer{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    .nlt-footer-content-display-web {
      display: none;
    }
    .nlt-footer-logo-mobile {
      text-align: center !important;
    }
    .nlt-footer-content-display-mobile {
      display: block;
    }
    .nlt-big-text-email {
      font-size: 16px;
      text-align: center !important;
      padding-top: 30px;
    }
    .nlt-footer-padding-1 {
      padding-top: 30px;
    }
    .nlt-footer-link-padding-1 {
      padding-top: 30px;
    }
    .nlt-footer-language {
      display: none !important;
    }
    .nlt-footer-left p {
      padding-right: 6px;
    }
    .nlt-footer-left a {
      padding-right: 6px;
    }
    .nlt-footer-content-3 {
      text-align: center !important;
      padding-top: 30px;
    }
    .nlt-footer-bottom{
      padding-bottom: 0px !important;
    }
    .nlt-footer-left {
      text-align: center !important;
    }
    .nlt-footer-right {
      text-align: center !important;
      padding-bottom: 0px !important;
    }
  }
}
/* Mobile Devices */
@media (min-width: 576px) and (max-width: 767.98px)  {
  .nlt-content-hero nav {
    padding-top: 0px !important;
  }
  /* NLT Content Hero + Navigation */
  .nlt-nav-translate{
    display: none !important;
  }
  .nlt-content-translate {
    text-align: center !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    p {
      padding-right: 6px !important;
    }
    a {
      padding-right: 6px !important;
    }
  }
  .nlt-content-hero-center-1 {
    font-size: 30px !important;
    line-height: 42px !important;
  }
  .nlt-content-hero-center-2 {
    font-size: 16px !important;
  }
  .navbar-expand-lg {
    background-color: #1f1f1f;
  }
  .nav-link {
    text-align: center !important;
  }
  .navbar-nav .nav-item {
    padding-right: 0px !important;
  }
  .nlt-button-nav {
    color: #ffffff !important;
    font-family: 'Nunito Sans';
    padding: 0 !important;
    border: none !important;
  }
  /* NLT Content Grey */
  .nlt-content-grey {
    padding-top: 30px !important;
    padding-bottom: 30px !important;

    .nlt-small-text {
      padding-bottom: 30px !important;
    }
    .nlt-big-text-1 {
      font-size: 16px;
    }
    .nlt-big-text-2 {
      font-size: 16px;
    }
    .nlt-content-padding-bottom {
      padding-bottom: 30px;
    }
    .nlt-content-services-video p {
      font-size: 16px;
    }
    .nlt-content-fleet {
      padding-top: 30px;
    }
    .nlt-small-text-fleet {
      padding-top: 18px;
    }
    .nlt-content-fleet-padding {
      padding-bottom: 12px;
    }
    table {
        letter-spacing: 0;
        color: white;
        font-size: 12px;
        font-weight: 300;
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid #4F4F4F;
        padding: 18px
    }
    .nlt-content-rates {
      padding-top: 30px;
        .nlt-small-text-rates {
          text-align: center;
        }
    }
  }
  .nlt-content-testimonial {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .nlt-testi-text-big {
    font-size: 18px !important;
    padding-bottom: 18px !important;
  }
  .nlt-text-name {
    font-size: 16px;
  }
  .nlt-testi-text-location {
    font-size: 12px;
    padding-bottom: 18px !important;
  }
  .nlt-small-text-black {
    padding-bottom: 30px !important;
  }
  /* NLT Content Sponsorships */
  .nlt-content-sponsorships {

    padding-top: 30px !important;
    padding-bottom: 30px !important;

    .nlt-small-text {
      padding-top: 30px;
      padding-bottom: 30px !important;
    }
    .nlt-big-text-1 {
      padding-bottom: 30px !important;
      font-size: 16px;
    }
    a {
      position: static !important;
    }
  }
  /* NLT Reservation Contact */
  .nlt-content-reservation {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .nlt-form-required {
    text-align: center;
  }
  .nlt-form-mobile {
    text-align: center !important;
    padding-top: 24px;
  }
  /* NLT Footer Content */
  footer{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    .nlt-footer-content-display-web {
      display: none;
    }
    .nlt-footer-logo-mobile {
      text-align: center !important;
    }
    .nlt-footer-content-display-mobile {
      display: block;
    }
    .nlt-big-text-email {
      font-size: 16px;
      text-align: center !important;
      padding-top: 30px;
    }
    .nlt-footer-padding-1 {
      padding-top: 30px;
    }
    .nlt-footer-link-padding-1 {
      padding-top: 30px;
    }
    .nlt-footer-content-3 {
      text-align: center !important;
      padding-top: 30px;
    }
    .nlt-footer-language {
      display: none !important;
    }
    .nlt-footer-left p {
      padding-right: 6px;
    }
    .nlt-footer-left a {
      padding-right: 6px;
    }
    .nlt-footer-content-3 {
      text-align: center !important;
      padding-top: 30px;
    }
    .nlt-footer-bottom{
      padding-bottom: 0px !important;
    }
    .nlt-footer-left {
      text-align: center !important;
    }
    .nlt-footer-right {
      text-align: center !important;
      padding-bottom: 0px !important;
    }
  }
}

/* Tablet Devices */
@media (min-width: 768px) and (max-width: 991.98px) {
  .nlt-content-hero nav {
    padding-top: 0px !important;
  }
  .nav-link {
    text-align: center !important;
  }
  .navbar-nav .nav-item {
    padding-right: 0px !important;
  }
  .nlt-button-nav {
    color: #ffffff !important;
    font-family: 'Nunito Sans';
    padding: 0 !important;
    border: none !important;
  }
  /* NLT Content Grey */
  .nlt-modal-top p {
    font-size: 16px !important;
  }
  .navbar-expand-lg {
    background-color: #1f1f1f;
  }
  .nlt-content-fleet-top-1 {
    padding-top: 18px
  }
  /* NLT Reservation Contact */
  .nlt-content-reservation {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .nlt-form-required {
    text-align: center;
  }
  .nlt-form-mobile {
    text-align: center !important;
    padding-top: 24px;
  }
  /* NLT Content Sponsorships */
  .nlt-content-sponsorships {
    .nlt-small-text {
      padding-top: 30px;
      padding-bottom: 30px !important;
    }
    .nlt-big-text-1 {
      padding-bottom: 30px !important;
      font-size: 16px;
    }
    a {
      position: static !important;
    }
  }
  /* NLT Content Footer */
  .nlt-footer-language {
    display: none !important;
  }
}

/* Desktop Devices */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* NLT Content Sponsorships */
  .nlt-content-sponsorships {
    .nlt-big-text-1 {
      font-size: 16px;
    }
  }
}
