.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
  transition: all 0.5s ease 0s;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  transition: all 0.5s ease 0s;
}

.navbar-light .navbar-toggler:hover {
  border-color: #e4d5ac;
  background-color: #e4d5ac;
  transition: all 0.5s ease 0s;
}

/* Mobile */

@media (max-width: 576px) {

  /* Hero Section */

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 15px;
  }

  .nlt-hero-cta {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 200;
    padding: 12px 40px 12px 40px;
    border: solid #ffffff 1px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
  }

  /* About Section */

  .nlt-small-title {
    font-size: 13px;
  }

  .nlt-content-emphasis {
    font-size: 17;
  }

  .nlt-content-small {
    font-size: 15px;
  }

  .nlt-about-link {
    font-size: 13px;
    padding-top: 20px;
    text-align: center;
  }

  .nlt-about-content {
    padding-bottom: 0 !important;
  }

  .nlt-read-more {
    margin-top: -25px;
  }

  /* Our Services */

  .nlt-our-services-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  .services-link {
    text-align: center;
  }

  .services-link a {
    font-size: 13px;
  }

  /*Testimonials Section */

  .nlt-testimonials-content {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .nlt-small-testi {
    font-size: 13px;
    font-family: 'Nunito';
    font-weight: 200;
    color: #1a1a1a;
  }

  .nlt-content-testi {
    font-size: 17px;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
  }

  .nlt-client-testi {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
  }

  /* Our Fleet */

  .nlt-car-info {
    color: #1a1a1a;
    font-size: 13px !important;
    font-weight: 200;
    line-height: 0;
    letter-spacing: 0;
    display: none;
    text-align: center;
  }

  .small-13 {
    font-size: 10px !important;
  }

  .small-15 {
    padding-top: 10px;
    font-size: 13px !important;
    letter-spacing: 0;
    font-weight: 200;
    line-height: 0;
  }

  .car-name {
    font-size: 15px !important;
    font-weight: 300;
    line-height: 0.5;
  }


  /* Our Rates */

  .nlt-our-rates {
    background-color: #1a1a1a;
  }

  .nlt-rates-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  table {
    letter-spacing: 0 !important;
    color: white;
    font-size: 15px !important;
    font-weight: 200;
    border-collapse: collapse;
    width: 100%; }

  table, th, td {
    border: 1px solid #4F4F4F;
    padding: 10px !important; }

  .rates-bottom {
    padding-top: 20px;
  }

  /* News Content */

  .nlt-news-content {
    color: white;
    font-weight: 200;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
  }

  .news-mobile {
    padding-top: 50px;
  }

  .nlt-news-anchor {
    font-size: 13px;
  }

  /* Reservations */

  .nlt-reservations-content {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  input {
    width: 100%; }

  input[type=text] {
    border: none;
    border-bottom: 1px solid #1A1A1A; }

    ::-webkit-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 300; }

  :-ms-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 300; }

  ::-ms-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 300; }

  ::placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 300; }

  .nlt-required {
    display: none;
  }

  .padding-form {
    padding-top: 0px;
  }

  .padding-mobile {
    padding-top: 25px;
  }

  .nlt-reserve-bottom {
    padding-top: 25px !important;
  }

  .text-right {
    text-align: center !important;
  }

  /* Footer */

  .nlt-footer-content {
    padding-top: 50px !important;
    padding-bottom: 30px;
  }

  .footer-left {
    text-align: center;
  }

  .footer-right {
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
  }

  .footer-bottom {
    padding-top: 50px;
  }

  .footer-address {
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    padding-top: 20px;
  }

  .mobile-missing {
    display: none;
  }

  .footer-bottom {
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
  }

}

@media (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }

  .nlt-hero-cta {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: 200;
    padding: 12px 40px 12px 40px;
    border: solid #ffffff 1px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
  }

  .nlt-small-title {
    font-size: 15px;
  }

  .nlt-content-emphasis {
    font-size: 19;
  }

  .nlt-content-small {
    font-size: 15px;
  }

  .nlt-about-link {
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
  }

  .nlt-read-more {
    margin-top: -25px;
  }

  .news-mobile {
    padding-top: 50px;
  }

  .nlt-about-content {
    padding-bottom: 0 !important;
  }

  /* Our Services */

  .nlt-our-services-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  .services-link {
    text-align: center;
  }

  .services-link a {
    font-weight: 200 !important;
  }

  /* Our Rates */

  .nlt-our-rates {
    background-color: #1a1a1a;
  }

  .nlt-rates-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  table {
    letter-spacing: 0 !important;
    color: white;
    font-size: 15px !important;
    font-weight: 200;
    border-collapse: collapse;
    width: 100%; }

  table, th, td {
    border: 1px solid #4F4F4F;
    padding: 10px !important; }

  .rates-bottom {
    padding-top: 20px;
  }


  /* Reservations */

  .nlt-reservations-content {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  input {
    width: 100%; }

  input[type=text] {
    border: none;
    border-bottom: 1px solid #1A1A1A; }

    ::-webkit-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 300; }

  :-ms-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 300; }

  ::-ms-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 300; }

  ::placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 300; }

  .nlt-required {
    display: none;
  }

  .padding-form {
    padding-top: 0px;
  }

  .padding-mobile {
    padding-top: 25px;
  }

  .nlt-reserve-bottom {
    padding-top: 25px !important;
  }

  .text-right {
    text-align: center !important;
  }


  /* Footer */

.footer-left {
    text-align: center;
  }

  .footer-right {
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
  }

  .footer-bottom {
    padding-top: 50px;
  }

  .footer-address {
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    padding-top: 20px;
  }

  .mobile-missing {
    display: none;
  }

  .footer-bottom {
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
  }

  /* Our Fleet */

  .nlt-car-info {
    color: #1a1a1a;
    font-size: 13px !important;
    font-weight: 200;
    line-height: 0;
    letter-spacing: 0;
    display: none;
    text-align: center;
  }

  .small-13 {
    font-size: 10px !important;
  }

  .small-15 {
    padding-top: 10px;
    font-size: 13px !important;
    letter-spacing: 0;
    font-weight: 200;
    line-height: 0;
  }

  .car-name {
    font-size: 15px !important;
    font-weight: 300;
    line-height: 0.5;
  }



}

@media (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }

  .nlt-hero-cta {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: 200;
    padding: 12px 40px 12px 40px;
    border: solid #ffffff 1px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
  }

  .nlt-small-title {
    font-size: 15px;
  }

  .nlt-content-emphasis {
    font-size: 19;
  }

  .nlt-content-small {
    font-size: 15px;
  }

  .nlt-about-link {
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
  }

  .nlt-read-more {
    margin-top: -25px;
  }

  .nlt-about-content {
    padding-bottom: 0 !important;
  }

  /* Our Services */

  .nlt-our-services-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  .services-link {
    text-align: center;
  }

  .services-link a {
    font-weight: 200 !important;
  }

  /* Our Rates */

  .nlt-our-rates {
    background-color: #1a1a1a;
  }

  .nlt-rates-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  table {
    letter-spacing: 0 !important;
    color: white;
    font-size: 15px !important;
    font-weight: 200;
    border-collapse: collapse;
    width: 100%; }

  table, th, td {
    border: 1px solid #4F4F4F;
    padding: 10px !important; }

  .rates-bottom {
    padding-top: 20px;
  }


  /* Reservations */

  .nlt-reservations-content {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  input {
    width: 100%; }

  input[type=text] {
    border: none;
    border-bottom: 1px solid #1A1A1A; }

    ::-webkit-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 300; }

  :-ms-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 300; }

  ::-ms-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 300; }

  ::placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Nunito';
    font-weight: 300; }

  .nlt-required {
    display: none;
  }

  .padding-form {
    padding-top: 0px;
  }

  .padding-mobile {
    padding-top: 25px;
  }

  .nlt-reserve-bottom {
    padding-top: 25px !important;
  }

  .text-right {
    text-align: center !important;
  }


  /* Footer */

.footer-left {
    text-align: center;
  }

  .footer-right {
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
  }

  .footer-bottom {
    padding-top: 50px;
  }

  .footer-address {
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    padding-top: 20px;
  }

  .mobile-missing {
    display: none;
  }

  .footer-bottom {
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
  }

  /* Our Fleet */

  .nlt-car-info {
    color: #1a1a1a;
    font-size: 13px !important;
    font-weight: 200;
    line-height: 0;
    letter-spacing: 0;
    display: none;
    text-align: center;
  }

  .small-13 {
    font-size: 10px !important;
  }

  .small-15 {
    padding-top: 10px;
    font-size: 13px !important;
    letter-spacing: 0;
    font-weight: 200;
    line-height: 0;
  }

  .car-name {
    font-size: 15px !important;
    font-weight: 300;
    line-height: 0.5;
  }

}
