@import "typography.scss";
@import "mobile.scss";

/* Hero Section */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  z-index: 0;
  .overlay-off & {
    z-index: 0;
}
}


.nlt-hero {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nlt-translate {
  bottom: 40;
  position: absolute;
}

video {
  position: fixed;
  height:100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  object-position: center;
  object-fit: cover;
}

.nlt-hero-center {
}

.fixed-top {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-light:scrolled {
  background-color: red;
}

/* About Section */

img {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.nlt-about {
  background-color: #1A1A1A;
}

.nlt-about-content {
  padding-top: 60px;
  padding-bottom: 40px;
}

/* Our Services */

.nlt-our-services {
  background-color: #1a1a1a;
}

.nlt-our-services-content {
  padding-top: 70px;
  padding-bottom: 70px;
}

.nlt-our-services-content img {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Our Fleet */

.nlt-our-fleet {
  background-color: #1a1a1a;
}

.nlt-fleet-table td:hover {
  background-color: #e4d5ac;
  transition: all 0.3s ease 0s;
}

.nlt-fleet-table td:hover {
  .nlt-car-info {
    display: grid;
  }

  .small-15 {
    color: #1a1a1a;
  }

  .car-name {
    color: #1a1a1a;
  }
}

.nlt-car-info {
  color: #1a1a1a;
  font-size: 15px;
  font-weight: 200;
  line-height: 0;
  letter-spacing: 0;
  display: none;
  text-align: center;
}

.small-13 {
  font-size: 13px;
}

.small-15 {
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 200;
  line-height: 0;
}

.car-name {
  font-size: 20px;
  font-weight: 300;
  line-height: 0.5;
}

/* Our Rates */

.nlt-our-rates {
  background-color: #1a1a1a;
}

.nlt-rates-content {
  padding-top: 70px;
  padding-bottom: 70px;
}

table {
  letter-spacing: 1.5px;
  color: white;
  font-size: 20px;
  font-weight: 200;
  border-collapse: collapse;
  width: 100%; }

table, th, td {
  border: 1px solid #4F4F4F;
  padding: 20px; }

.rates-bottom {
  padding-top: 20px;
}

/* Testimonials Content */

.nlt-testimonials-content {
  padding-top: 75px;
  padding-bottom: 75px;
}

.nlt-testimonials {
  background-color: white;
}

/* News Section */

.nlt-latest-news {
  background-color: #1a1a1a;
}

.nlt-latest-news-content {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* Reservations */

.nlt-reservations-content {
  padding-top: 70px;
  padding-bottom: 70px;
}

.nlt-reserve-bottom {
  padding-top: 40px;
}

.nlt-reservations {
  background-color: white;
}

/* Footer Section */

footer {
  background-color: #1a1a1a;
}

footer img {
  height: 61px;
  width: 125px;
}

.nlt-footer-content {
  padding-top: 70px;
}

.translate-mobile {
  font-size: 15px;
  color: white;
  font-weight: 300;
  font-family: 'Montserrat';
}

.translate-mobile a {
  color: white;
  font-weight: 200;
  text-decoration: underline;
  font-family: 'Montserrat';
}
