/* Global Typography Settings */
p {
  margin: 0;
}
a {
  font-family: 'Nunito Sans';
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.nlt-small-text {
  font-size: 12px;
  color: white;
  font-weight: 300;
  font-family: 'Nunito Sans';
}
.nlt-small-text-black {
  font-size: 12px;
  color: #1f1f1f;
  font-weight: 300;
  font-family: 'Nunito Sans';
  padding-bottom: 60px;
}
.nlt-small-text-black-form {
  font-size: 12px;
  color: #1f1f1f;
  font-weight: 300;
  font-family: 'Nunito Sans';
}
.nlt-small-text-fleet {
  font-size: 12px;
  color: white;
  font-weight: 300;
  font-family: 'Nunito Sans';
}
.nlt-small-text-rates {
  font-size: 12px;
  color: white;
  font-weight: 300;
  font-family: 'Nunito Sans';
}
.nlt-big-text-1 {
  font-size: 18px;
  color: white;
  font-weight: 400;
  font-family: 'Nunito Sans';
}
.nlt-big-text-2 {
  font-size: 18px;
  color: white;
  font-weight: 300;
  font-family: 'Nunito Sans';
}
/* NLT Content Navigation Bar */
.nlt-link-nav {
  color: white !important;
  font-weight: 300;
  font-family: 'Nunito Sans';
  font-size: 16px;
}
.nlt-button-nav {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #ffffff !important;
  font-family: 'Nunito Sans';
  font-weight: 300;
  padding: 6px 40px 6px 40px !important;
  border: solid white 1px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.nav-item {
  padding-right: 42px !important;
}
.nlt-content-hero-bottom a {
  color: white;
  text-decoration: underline;
  font-weight: 300;
  font-family: 'Nunito Sans';
  font-size: 16px;
}
.nlt-content-hero-center-1 {
  color: white;
  font-weight: 400;
  font-family: 'Nunito Sans';
  font-size: 42px;
  line-height:48px;
}
.nlt-content-hero-center-2 {
  color: white;
  font-weight: 300;
  font-family: 'Nunito Sans';
  font-size: 18px;
  padding-bottom: 30px;
}
.nlt-button-hero {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #ffffff !important;
  font-family: 'Nunito Sans';
  font-weight: 300;
  padding: 6px 40px 6px 40px !important;
  border: solid white 1px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
/* NLT Misc */
.nlt-footer-text {
  font-size: 16px;
  color: white;
  font-weight: 300;
  font-family: 'Nunito Sans';
}
.nlt-footer-link {
  font-size: 16px;
  color: white;
  font-weight: 300;
  font-family: 'Nunito Sans';
  text-decoration: underline;
  display: inline-block;
}
.nlt-footer-padding-1 {
  padding-top: 60px;
}
.nlt-footer-padding-2 {
  padding-top: 30px;
}
.nlt-footer-padding-3 {
  padding-top: 30px;
}
.nlt-footer-link-padding-1 {
  padding-top: 60px;
}
.nlt-footer-link-padding-2 {
  padding-top: 30px;
}
.nlt-footer-link-padding-3 {
  padding-top: 30px;
}
.nlt-button-video {
  padding: 0;
  border: none;
  background: none;
  color: white;
  font-family: 'Nunito Sans';
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.nlt-button-video:hover {
  color: #e4d5ac;
}
.modal {
  .modal-content {
    background-color: #1f1f1f;
  }

  .modal-header {
    border-bottom: 1px solid #3c3c3c;
  }

  .modal-title {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Nunito Sans';
    color: white;
  }

  .close {
    color: white;
  }
}
/* NLT Content Services */
.nlt-content-services-video {
  p {
    color: white;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 18px;
  }
}
/* NLT Content Fleet */
.nlt-fleet-small-text {
  font-size: 10px;
  color: white;
  font-weight: 300;
  font-family: 'Nunito Sans';
}
.nlt-fleet-small-padding {
  padding-bottom: 24px;
}
.nlt-fleet-small-padding-2 {
  padding-bottom: 39px;
}
.nlt-fleet-big-text {
  font-size: 12px;
  color: white;
  font-weight: 400;
  font-family: 'Nunito Sans';
}
/* NLT Testimonials Content */
.nlt-testi-text-big {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 30px;
  font-family: 'Nunito Sans';
}
.nlt-text-name {
  font-size: 18px;
  font-weight: 400;
  font-family :'Nunito Sans';
}
.nlt-testi-text-location {
  font-size: 12px;
  font-weight: 300;
  font-family: 'Nunito Sans';
  padding-bottom: 30px;
}
/* NLT Content Sponsorships */
.nlt-content-sponsorships {
  .nlt-small-text {
    padding-bottom: 45px;
  }

  a {
    color: white;
    text-decoration: underline;
    font-size: 12px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  a:hover {
    color: #e4d5ac;
  }
}
/* Footer */
.nlt-big-text-email {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  font-weigth: 300;
  font-family: 'Nunito Sans';
  text-decoration: underline;
}
.nlt-big-text-email a {
  color: white;
}
.nlt-big-text-email a:hover {
  color: #e4d5ac;
}
.nlt-small-qr {
  font-size: 10px;
  color: white;
  font-weight: 'Nunito Sans';
  font-weight: 200;
  padding-top: 18px;
  padding-bottom: 18px;
}
.nlt-footer-left p {
  display: inline;
  padding-right: 30px;
}
.nlt-footer-left a {
  display: inline;
  padding-right: 30px;
  color: white;
  text-decoration: underline;
}
.nlt-footer-link:hover {
  color: #e4d5ac;
}
.nlt-footer-left{
  color: white;
  font-size: 12px;
  font-family: 'Nunito Sans';
  font-weight: 300;
}
.nlt-footer-right {
  font-size: 12px;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Nunito Sans';
  font-weight: 300;
}
.nlt-content-translate p {
  display: inline;
  color: white;
  font-size: 12px;
  font-family: 'Nunito Sans';
  font-weight: 300;
  padding-right: 30px;
}
.nlt-content-translate a {
  color: white;
  font-size: 12px;
  font-family: 'Nunito Sans';
  font-weight: 300;
  text-decoration: underline;
  padding-right: 30px;
}
.nlt-footer-left a:hover {
  color: #e4d5ac;
}

/* Hover Effects */
.nlt-content-translate a:hover{
  color: #e4d5ac;
}
.nlt-link-nav:hover {
  color: #e4d5ac !important;
}
.nlt-button-nav:hover {
color: white !important;
border: solid white 1px;
background-color: #e4d5ac;
}
.nlt-button-hero:hover {
  color: white !important;
  border: solid white 1px;
  background-color: #e4d5ac;
  text-decoration: none;
}

.nlt-content-hero-bottom a:hover {
  color: #e4d5ac !important;
}

.nlt-form-button{
  font-size: 12px;
  font-family:'Nunito Sans';
  font-weight: 300;
  text-decoration: underline;
}

.nlt-form-button:hover{
  font-size: 12px;
  font-family:'Nunito Sans';
  font-weight: 300;
  text-decoration: underline;
  color: #e4d5ac;
}

.form-control {
  font-family: 'Nunito Sans';
  font-weight: 300;
  font-size: 18px;
  padding: 0 !important;
  border: none;
  border-bottom: 1px solid #1f1f1f;
  border-radius: 0 !important;
}

.col-form-label {
  font-size: 14px;
  font-family: 'Nunito Sans';
  font-weight: 300;
}

.col-form-label-sm {
  padding-top: 6px !important;
}

.btn {
  padding: 0 !important;
}

.fab {
  font-size: 24px;
  color: white;
  padding-top: 18px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.fa-facebook {
  padding-right: 12px;
}

.fab:hover {
  color: #e4d5ac;
}

/* Extras */

.owl-nav {
  padding-bottom: 30px;
}

.nlt-button-sponsorships {
  padding: 0;
  border: none;
  background: none;
  color: #1f1f1f;
  font-family: 'Nunito Sans';
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.nlt-button-sponsorships:hover {
  color: #e4d5ac;
}

.nlt-sponsorship-text {
  p {
    color: white;
    font-weight: 300;
    font-family: 'Nunito Sans';
    text-align: left !important;
  }

  a {
    color: white;
    text-decoration: underline;
    font-weight: 300;
    font-size: 12px;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  a:hover {
    color: #e4d5ac;
  }
}

.nlt-services-link {
  color: white;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Nunito Sans';
  text-decoration: underline;
  display: block;
}

.nlt-services-padding-link {
  padding-top: 18px;
}

.nlt-button-showhide {
  color: white;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Nunito Sans';
  text-decoration: underline;
  background: none;
  border: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.nlt-button-showhide:hover {
  color: #e4d5ac;
}

#nlt-services-all-video {
  display: none;
  padding-top: 42px;
}
