/* Navigational Bar */
.nav-item {
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 18px;
  margin-left: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.nav-item:hover {
  color: #e4d5ac !important; }

/* Hero Content Center */
h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 40px; }

h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 20px;
  padding-bottom: 40px; }

.nlt-nav-button {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 200;
  padding: 6px 40px 6px 40px !important;
  border: solid #ffffff 1px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.nlt-nav-button:hover {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #1a1a1a !important;
  font-family: 'Montserrat';
  font-weight: 200;
  padding: 6px 40px 6px 40px !important;
  background-color: #e4d5ac;
  border: solid #e4d5ac 1px;
  text-decoration: none; }

.nlt-hero-cta {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 200;
  padding: 12px 40px 12px 40px;
  border: solid #ffffff 1px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.nlt-hero-cta:hover {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #1a1a1a;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 200;
  padding: 12px 40px 12px 40px;
  background-color: #e4d5ac;
  border: solid #e4d5ac 1px;
  text-decoration: none; }

/* About Section */
.nlt-small-title {
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 200;
  color: white; }

.nlt-content-emphasis {
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 300;
  color: white; }

.nlt-content-small {
  padding-top: 20px;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 200;
  padding-bottom: 20px;
  color: white; }

.nlt-about-link {
  padding-top: 40px;
  color: white;
  font-size: 15px;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif; }

.nlt-about-link a {
  text-decoration: underline;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.nlt-about-link a:hover {
  color: #e4d5ac; }

/* Services */
.services-link {
  text-align: right; }

.services-link a {
  color: white !important;
  text-decoration: underline;
  font-weight: 200;
  font-size: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.services-link a:hover {
  color: #e4d5ac !important;
  text-decoration: underline;
  font-weight: 200;
  font-size: 15px; }

/* Testimonials */
.nlt-small-testi {
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 200;
  color: #1a1a1a; }

.nlt-content-testi {
  font-size: 25px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif; }

.nlt-client-testi {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif; }

/* News Section */
.nlt-news-big {
  color: white;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  padding-top: 10px; }

.nlt-news-content {
  color: white;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; }

.nlt-news-anchor {
  color: white;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.nlt-news-anchor:hover {
  color: #e4d5ac;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

/* Reservations */
.nlt-reservations-content {
  font-family: 'Montserrat', sans-serif; }

.nlt-small-title-black {
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 200;
  color: #1a1a1a; }

input {
  width: 100%; }

input[type=text] {
  border: none;
  border-bottom: 1px solid #1A1A1A; }

::-webkit-input-placeholder {
  color: #1A1A1A;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 300; }

:-ms-input-placeholder {
  color: #1A1A1A;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 300; }

::-ms-input-placeholder {
  color: #1A1A1A;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 300; }

::placeholder {
  color: #1A1A1A;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 300; }

.padding-form {
  padding-top: 30px; }

input, textarea {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 20px; }

button {
  background-color: white;
  border: none;
  color: #1a1a1a;
  text-decoration: underline;
  display: inline-block;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 200; }

button:hover {
  background-color: white;
  border: none;
  color: #e4d5ac;
  text-decoration: underline;
  display: inline-block;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 200; }

.inquiry-button {
  padding-top: 40px; }

/* Footer Section */
.footer-right {
  font-size: 20px;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  text-align: right; }

.footer-right a {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: white; }

.footer-right a:hover {
  color: #e4d5ac; }

.footer-bottom {
  padding-top: 200px;
  color: white;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif; }

.footer-bottom a {
  color: white;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.footer-bottom a:hover {
  color: #e4d5ac; }

.footer-address {
  text-align: right;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  padding-top: 170px;
  padding-bottom: 70px; }

.footer-address a {
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: underline; }

.footer-address a:hover {
  color: #e4d5ac; }

.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.navbar-light .navbar-toggler:hover {
  border-color: #e4d5ac;
  background-color: #e4d5ac;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

/* Mobile */
@media (max-width: 576px) {
  /* Hero Section */
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 15px; }
  .nlt-hero-cta {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 200;
    padding: 12px 40px 12px 40px;
    border: solid #ffffff 1px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  /* About Section */
  .nlt-small-title {
    font-size: 13px; }
  .nlt-content-emphasis {
    font-size: 17; }
  .nlt-content-small {
    font-size: 15px; }
  .nlt-about-link {
    font-size: 13px;
    padding-top: 20px;
    text-align: center; }
  .nlt-about-content {
    padding-bottom: 0 !important; }
  .nlt-read-more {
    margin-top: -25px; }
  /* Our Services */
  .nlt-our-services-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important; }
  .services-link {
    text-align: center; }
  .services-link a {
    font-size: 13px; }
  /*Testimonials Section */
  .nlt-testimonials-content {
    padding-top: 25px;
    padding-bottom: 25px; }
  .nlt-small-testi {
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 200;
    color: #1a1a1a; }
  .nlt-content-testi {
    font-size: 17px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif; }
  .nlt-client-testi {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif; }
  /* Our Fleet */
  .nlt-car-info {
    color: #1a1a1a;
    font-size: 13px !important;
    font-weight: 200;
    line-height: 0;
    letter-spacing: 0;
    display: none;
    text-align: center; }
  .small-13 {
    font-size: 10px !important; }
  .small-15 {
    padding-top: 10px;
    font-size: 13px !important;
    letter-spacing: 0;
    font-weight: 200;
    line-height: 0; }
  .car-name {
    font-size: 15px !important;
    font-weight: 300;
    line-height: 0.5; }
  /* Our Rates */
  .nlt-our-rates {
    background-color: #1a1a1a; }
  .nlt-rates-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important; }
  table {
    letter-spacing: 0 !important;
    color: white;
    font-size: 15px !important;
    font-weight: 200;
    border-collapse: collapse;
    width: 100%; }
  table, th, td {
    border: 1px solid #4F4F4F;
    padding: 10px !important; }
  .rates-bottom {
    padding-top: 20px; }
  /* News Content */
  .nlt-news-content {
    color: white;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; }
  .news-mobile {
    padding-top: 50px; }
  .nlt-news-anchor {
    font-size: 13px; }
  /* Reservations */
  .nlt-reservations-content {
    padding-top: 50px !important;
    padding-bottom: 50px !important; }
  input {
    width: 100%; }
  input[type=text] {
    border: none;
    border-bottom: 1px solid #1A1A1A; }
  ::-webkit-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300; }
  :-ms-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300; }
  ::-ms-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300; }
  ::placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300; }
  .nlt-required {
    display: none; }
  .padding-form {
    padding-top: 0px; }
  .padding-mobile {
    padding-top: 25px; }
  .nlt-reserve-bottom {
    padding-top: 25px !important; }
  .text-right {
    text-align: center !important; }
  /* Footer */
  .nlt-footer-content {
    padding-top: 50px !important;
    padding-bottom: 30px; }
  .footer-left {
    text-align: center; }
  .footer-right {
    text-align: center;
    font-size: 15px;
    padding-top: 20px; }
  .footer-bottom {
    padding-top: 50px; }
  .footer-address {
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    padding-top: 20px; }
  .mobile-missing {
    display: none; }
  .footer-bottom {
    font-size: 15px;
    text-align: center;
    padding-top: 20px; } }

@media (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 35px; }
  h2 {
    font-size: 20px; }
  .nlt-hero-cta {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 200;
    padding: 12px 40px 12px 40px;
    border: solid #ffffff 1px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .nlt-small-title {
    font-size: 15px; }
  .nlt-content-emphasis {
    font-size: 19; }
  .nlt-content-small {
    font-size: 15px; }
  .nlt-about-link {
    font-size: 15px;
    padding-top: 20px;
    text-align: center; }
  .nlt-read-more {
    margin-top: -25px; }
  .news-mobile {
    padding-top: 50px; }
  .nlt-about-content {
    padding-bottom: 0 !important; }
  /* Our Services */
  .nlt-our-services-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important; }
  .services-link {
    text-align: center; }
  .services-link a {
    font-weight: 200 !important; }
  /* Our Rates */
  .nlt-our-rates {
    background-color: #1a1a1a; }
  .nlt-rates-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important; }
  table {
    letter-spacing: 0 !important;
    color: white;
    font-size: 15px !important;
    font-weight: 200;
    border-collapse: collapse;
    width: 100%; }
  table, th, td {
    border: 1px solid #4F4F4F;
    padding: 10px !important; }
  .rates-bottom {
    padding-top: 20px; }
  /* Reservations */
  .nlt-reservations-content {
    padding-top: 50px !important;
    padding-bottom: 50px !important; }
  input {
    width: 100%; }
  input[type=text] {
    border: none;
    border-bottom: 1px solid #1A1A1A; }
  ::-webkit-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300; }
  :-ms-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300; }
  ::-ms-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300; }
  ::placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300; }
  .nlt-required {
    display: none; }
  .padding-form {
    padding-top: 0px; }
  .padding-mobile {
    padding-top: 25px; }
  .nlt-reserve-bottom {
    padding-top: 25px !important; }
  .text-right {
    text-align: center !important; }
  /* Footer */
  .footer-left {
    text-align: center; }
  .footer-right {
    text-align: center;
    font-size: 15px;
    padding-top: 20px; }
  .footer-bottom {
    padding-top: 50px; }
  .footer-address {
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    padding-top: 20px; }
  .mobile-missing {
    display: none; }
  .footer-bottom {
    font-size: 15px;
    text-align: center;
    padding-top: 20px; }
  /* Our Fleet */
  .nlt-car-info {
    color: #1a1a1a;
    font-size: 13px !important;
    font-weight: 200;
    line-height: 0;
    letter-spacing: 0;
    display: none;
    text-align: center; }
  .small-13 {
    font-size: 10px !important; }
  .small-15 {
    padding-top: 10px;
    font-size: 13px !important;
    letter-spacing: 0;
    font-weight: 200;
    line-height: 0; }
  .car-name {
    font-size: 15px !important;
    font-weight: 300;
    line-height: 0.5; } }

@media (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 35px; }
  h2 {
    font-size: 20px; }
  .nlt-hero-cta {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 200;
    padding: 12px 40px 12px 40px;
    border: solid #ffffff 1px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .nlt-small-title {
    font-size: 15px; }
  .nlt-content-emphasis {
    font-size: 19; }
  .nlt-content-small {
    font-size: 15px; }
  .nlt-about-link {
    font-size: 15px;
    padding-top: 20px;
    text-align: center; }
  .nlt-read-more {
    margin-top: -25px; }
  .nlt-about-content {
    padding-bottom: 0 !important; }
  /* Our Services */
  .nlt-our-services-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important; }
  .services-link {
    text-align: center; }
  .services-link a {
    font-weight: 200 !important; }
  /* Our Rates */
  .nlt-our-rates {
    background-color: #1a1a1a; }
  .nlt-rates-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important; }
  table {
    letter-spacing: 0 !important;
    color: white;
    font-size: 15px !important;
    font-weight: 200;
    border-collapse: collapse;
    width: 100%; }
  table, th, td {
    border: 1px solid #4F4F4F;
    padding: 10px !important; }
  .rates-bottom {
    padding-top: 20px; }
  /* Reservations */
  .nlt-reservations-content {
    padding-top: 50px !important;
    padding-bottom: 50px !important; }
  input {
    width: 100%; }
  input[type=text] {
    border: none;
    border-bottom: 1px solid #1A1A1A; }
  ::-webkit-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300; }
  :-ms-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300; }
  ::-ms-input-placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300; }
  ::placeholder {
    color: #1A1A1A;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300; }
  .nlt-required {
    display: none; }
  .padding-form {
    padding-top: 0px; }
  .padding-mobile {
    padding-top: 25px; }
  .nlt-reserve-bottom {
    padding-top: 25px !important; }
  .text-right {
    text-align: center !important; }
  /* Footer */
  .footer-left {
    text-align: center; }
  .footer-right {
    text-align: center;
    font-size: 15px;
    padding-top: 20px; }
  .footer-bottom {
    padding-top: 50px; }
  .footer-address {
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    padding-top: 20px; }
  .mobile-missing {
    display: none; }
  .footer-bottom {
    font-size: 15px;
    text-align: center;
    padding-top: 20px; }
  /* Our Fleet */
  .nlt-car-info {
    color: #1a1a1a;
    font-size: 13px !important;
    font-weight: 200;
    line-height: 0;
    letter-spacing: 0;
    display: none;
    text-align: center; }
  .small-13 {
    font-size: 10px !important; }
  .small-15 {
    padding-top: 10px;
    font-size: 13px !important;
    letter-spacing: 0;
    font-weight: 200;
    line-height: 0; }
  .car-name {
    font-size: 15px !important;
    font-weight: 300;
    line-height: 0.5; } }

/* Hero Section */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0; }
  .overlay-off .video-overlay {
    z-index: 0; }

.nlt-hero {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

video {
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover; }

.fixed-top {
  padding-top: 15px;
  padding-bottom: 15px; }

.navbar-light:scrolled {
  background-color: red; }

/* About Section */
img {
  background-size: cover;
  background-position: center;
  width: 100%; }

.nlt-about {
  background-color: #1A1A1A; }

.nlt-about-content {
  padding-top: 60px;
  padding-bottom: 40px; }

/* Our Services */
.nlt-our-services {
  background-color: #1a1a1a; }

.nlt-our-services-content {
  padding-top: 70px;
  padding-bottom: 70px; }

.nlt-our-services-content img {
  padding-top: 20px;
  padding-bottom: 20px; }

/* Our Fleet */
.nlt-our-fleet {
  background-color: #1a1a1a; }

.nlt-fleet-table td:hover {
  background-color: #e4d5ac;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.nlt-fleet-table td:hover .nlt-car-info {
  display: grid; }

.nlt-fleet-table td:hover .small-15 {
  color: #1a1a1a; }

.nlt-fleet-table td:hover .car-name {
  color: #1a1a1a; }

.nlt-car-info {
  color: #1a1a1a;
  font-size: 15px;
  font-weight: 200;
  line-height: 0;
  letter-spacing: 0;
  display: none;
  text-align: center; }

.small-13 {
  font-size: 13px; }

.small-15 {
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 200;
  line-height: 0; }

.car-name {
  font-size: 20px;
  font-weight: 300;
  line-height: 0.5; }

/* Our Rates */
.nlt-our-rates {
  background-color: #1a1a1a; }

.nlt-rates-content {
  padding-top: 70px;
  padding-bottom: 70px; }

table {
  letter-spacing: 1.5px;
  color: white;
  font-size: 20px;
  font-weight: 200;
  border-collapse: collapse;
  width: 100%; }

table, th, td {
  border: 1px solid #4F4F4F;
  padding: 20px; }

.rates-bottom {
  padding-top: 20px; }

/* Testimonials Content */
.nlt-testimonials-content {
  padding-top: 75px;
  padding-bottom: 75px; }

.nlt-testimonials {
  background-color: white; }

/* News Section */
.nlt-latest-news {
  background-color: #1a1a1a; }

.nlt-latest-news-content {
  padding-top: 70px;
  padding-bottom: 70px; }

/* Reservations */
.nlt-reservations-content {
  padding-top: 70px;
  padding-bottom: 70px; }

.nlt-reserve-bottom {
  padding-top: 40px; }

.nlt-reservations {
  background-color: white; }

/* Footer Section */
footer {
  background-color: #1a1a1a; }

footer img {
  height: 61px;
  width: 125px; }

.nlt-footer-content {
  padding-top: 70px; }
